<div class="row">
  <div class="col-md-3">
    <%= render 'home/profile_info', profile: current_user.user_profile %>
  </div>

  <div class="col-md-6">
    <%= render 'tweets/form' %>

    <hr>

    <%= render partial: 'tweets/tweet_preview', collection: @tweets, as: :tweet %>
  </div>


  <div class="col-md-3">
    <%= render 'home/users_list', users: @users %>
  </div>
</div>
